MONGODB_URI=mongodb+srv://YOUR_USER:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/fastnfresh_cafe?retryWrites=true&w=majority
JWT_SECRET=YOUR_LONG_RANDOM_JWT_SECRET

PORT=8443
CORS_ORIGIN=*

SEED_ADMIN_PASSWORD=CHANGE_ME
SEED_MANAGER_PASSWORD=CHANGE_ME
SEED_STAFF_PASSWORD=CHANGE_ME